@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


body{
    font-family: 'Comfortaa', cursive !important
    /* 28d988; */
}
/* dropdown font color #788995 header #060f14  background #0000009  logobg  e8edf1*/
.nav-padding{
    padding-left: 8px ;
    padding-right: 8px ;
}
.nav-link-color{
    color: #ffffff !important;
}
.dropdown-logo{
    background-color: #e8edf19c ;
    height: 50px ; 
    
    /* width: 60px; */
}
.dropdown-font{
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    color:  #788995 ;

}
.dropdown-header{
    font-family: 'Comfortaa', cursive;
    color:#060f14 ;
    padding: 0px !important; 
}

.nav-logo-border{
    border-radius: 15px;
}


.d-inline-flex{
    background-color: transparent;
}
/* .btn-group{
    /* backgro */


.drag-box{
    cursor: move;
}
.drag-box.over{
    border: 3px dotted black;
}
.rounded-edge{
    border-radius: 10px !important;
}
.rounded-edge-2{
    border-radius: 30px !important;
}
.font-weight{
    font-size: 12px;
}

.border-dashed{
    border: 1px dashed rgb(223, 223, 223);
}
.btn-style{
    border: 0px !important;
    outline: 0px !important;
    background: rgb(241, 239, 239) !important;
}
.btn-style-2{
    border: 0px !important;
    outline: 0px !important;
    background:  #28d9aa  !important;
}

.primary-bg{
    background: #fdbd28 !important;
}

.btn-background{
    background: rgba(8, 37, 56, 0.07) !important;
}
.secondary-bg{
    background: rgb(182, 182, 182) !important;
}
.blue-bg{
    background-color: #0056ff;
}
.icon-border{
    background: rgba(231, 229, 229, 0.712) !important;
}
.float-div{
    background-color: white !important;
    width: 75%;
    float: right; 
    

}
.float-div-red{
    background-color: #ee5149 !important;
    width: 80% !important;
    float: right !important; 
    z-index: 1 !important;
    position: relative !important;
    border-radius: 30px;
    /* top: 100% !important; */
}
.position-div{
    /* margin-left: 100px !important;  */
    margin-right: 12.5% !important;
    margin-top: -20% !important;
    

    

}
.faq-btn{
    background: #28d9aa !important;

}
.position-div-red{
    
    margin-top: 3% !important;
    margin-right: 12% !important;
}
.position-div-2{
    margin-top: 8% !important;
}
.position-div-3{
    margin-top: 50px !important;
}
.margin-div{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.margin-top{
    margin-top: 100px;
}
.banner-img{
    transform: scale(-1,-1); 
    margin-top: -150px;
}
.dropdown{
    position: relative;
    display: inline-block;
    width: 100% !important;
}
.dropdown-content{
    display: none;
    position: absolute;
    left: -150px;
    /* width: 100%; */
    z-index: 1;
    background-color: white;
}
.dropdown:hover .dropdown-content{
    display: inline-block;
}
/* end of index page */

/* docs page */

